.p-card {
  color: #D945EF;
  box-shadow: 0 4px 8px 0 #ebebeb, 0 6px 20px 0 #ebebeb;
  max-width: 100%;
  width: 100rem;
}

.boas-vindas {
  color: #D945EF;
  font-weight: 700;
  font-size: 1.5rem;
}

.work-bg {
  justify-content: center;
  align-items: center;
  display: grid;
}

.delete-icon {
  color: #D945EF;
  cursor: pointer;
}

.delete-icon:hover {
  color: #c026d3;
}
