<div class="d-flex justify-content-center align-items-center vh-100 vw-100">
  <p-card class="p-card">
    <div class="row">
      <div class="col-5">
        <div class="form-bg mt-4">
          <p class="boas-vindas">Bem-vindo de volta!</p>
          <div class="mb-3">
            <p-float-label variant="on">
              <label for="username">Usuário</label>
              <input type="text" pInputText />
            </p-float-label>
          </div>
          <div class="mb-4">
            <p-float-label variant="on">
              <label for="password">Senha</label>
              <input type="password" pInputText />
            </p-float-label>
          </div>
          <div>
            <p-button class="d-grid" label="Entrar"/>
          </div>
        </div>
      </div>
      <div class="col-5">
        <img src="assets/images/undraw_sign-up_qamz.svg" alt="signup" width="300" height="300">
      </div>
    </div>
  </p-card>
</div>
