<div class="d-flex justify-content-center align-items-center vh-100 vw-100">
  <p-card class="p-card">
    <div class="row">
      <div class="col-5">
        <div class="form-bg mt-4">
          <p class="boas-vindas">Bem-vindo de volta!</p>
          <form [formGroup]="formLogin">
          <div class="mb-3">
            <p-float-label variant="on">
              <label for="username">Usuário</label>
              <input type="text" formControlName="usuario" pInputText (keyup.enter)="login()" />
            </p-float-label>
          </div>
          <div class="mb-2">
            <p-float-label variant="on">
              <label for="password">Senha</label>
              <input type="password" formControlName="senha" pInputText (keyup.enter)="login()" />
            </p-float-label>
          </div>
          <div class="mb-4">
            <a class="signup" href="#">Crie uma conta</a>
          </div>
          <div class="mb-4">
            <p-button class="d-grid" label="Entrar" (onClick)="login()"/>
          </div>
          </form>
        </div>
      </div>
      <div class="col-1">
        <p-divider type="solid" layout="vertical"></p-divider>
      </div>
      <div class="col-6">
        <div class="d-flex justify-content-center">
          <img src="assets/images/undraw_sign-in_uva0.svg" alt="signup" width="300" height="300">
        </div>
      </div>
    </div>
  </p-card>
</div>
