.p-card {
  color: #D945EF;
  box-shadow: 0 4px 8px 0 #ebebeb, 0 6px 20px 0 #ebebeb;
  max-width: 100%;
  width: 50rem;
}

.form-bg {
  justify-content: center;
  align-items: center;
  display: grid;
}

.boas-vindas {
  color: #D945EF;
  font-weight: 700;
}
